.logo{
  max-width: 2rem;
  max-height: 2rem;
}

section{
  padding-top: 3.5rem;
}



.navbar{
  background-color: #fefefe;
}

.navbar li{
  padding: 0.5rem;
}

.navbar li:hover{
  background-color: #03a04e;
  border-radius: 0.5rem;

}

.navbar li a:hover{
  color:#fefefe

}

*{
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
}

.vertical-line {
  border-left: solid #8f8f8f 1px;
}
