.logo {
  max-width: 8rem;
  transition: transform 2s ease;
  max-height: 8rem;
}

.navbar {
  transition: background-color 0.5s ease; 
  text-decoration: none;
}
.navbar a {
  font-weight: 600;
  transition: transform 2s ease;
  font-size: 1.25rem !important;
  color: #ffffff; 
}
.navbar.scrolled {
  background: rgba(255, 255, 255, 1); 
}
.navbar.scrolled a{
  transform: scale(0.8);
  color: #000;
}
.navbar.scrolled .dropdown-menu a{
  color: #fefefe;
}
.navbar.scrolled .dropdown-menu a:hover{
  color: #faf204;
}

.navbar.scrolled img{
  transform: scale(0.8);
}

.vimi-card{
  transition: transform 0.25s ease;
  padding: 20px;
}
.vimi-card:hover{
  transform: scale(1.05);
  background-color: #03a04f75;
  border-radius: 2rem;
}

.nav-item li a:hover {
  border-bottom: #03a04e;
  background-color: transparent !important;
}

.dropdown-menu{
  background-color: #0000008c !important;
  border-radius: 8px !important;
}

.dropdown-menu li a{
  padding: 2rem;
  color: #fefefe;
}


.dropdown-menu li a:hover{
  color: #faf204;
}


li {
  list-style-type: none;
}

section{
  margin-bottom: 10rem;
}

.bg-footer{
  background-color: #005f2e;

}



*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.vertical-line {
  border-left: solid #8f8f8f 1px;
}

.horizontal-line{
  border-bottom: solid #8f8f8f 1px;
}


.header{
  background: linear-gradient(45deg, #03a04e, #faf204, #a1bfad);
  padding-top:5.5rem;
  padding-bottom:5rem;

}
.galeri{
  transition: transform .025s ease;
}
.galeri:hover{
  transform: scale(1.25);
}


.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

/* Optional: Adjust the background for better readability */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}

.carousel-caption h5, .carousel-caption p, .carousel-caption a {
  color: #fff;
}

/* Style for the button */
.carousel-caption .button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #03a04f00;
  border: solid #03a04e 2px;
  border-radius: 5px;
  text-decoration: none;
  color: #fefefe;
}

.carousel-caption .button:hover {
  background-color: #03a04e;
}

.btn-program{
  background-color: #03a04e !important;
  color: #fefefe !important;
}

.btn-program:hover{
  background-color: #fefefe !important;
  color: #03a04e !important;
}

.logo-tentang{
  width: 50vw;
  max-width: 15rem;
}



div h2 {
  margin-bottom: 3rem;
}

h2, .read-more{
  padding-bottom: 1rem;
  font-weight: 800 !important;
  border-bottom: 5px solid green;
  padding-bottom: 1rem;
  display: inline-block;
}

.bg-section2{
  background-color: #faf20486;
}



.news-section {
  padding: 2rem;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.news-card {
  flex: 1 1 calc(50% - 1.5rem); /* 2 kolom pada layar besar */
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.news-card img {
  width: 100%;
  border-radius: 0.25rem;
  height: auto;
}

.news-card-body {
  padding: 1rem;
}

.news-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.news-content {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Jumlah baris yang ditampilkan */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-footer {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-top: 1rem;
}

.news-footer span{
  margin-left: 20px;
}

.news-footer .read-more {
  color: #555;
  text-decoration: none;
}

.news-footer .date {
  color: #888;
  font-size: 0.875rem;
}

@media (max-width: 992px) {
  .news-card {
      flex: 1 1 calc(50% - 1.5rem); /* 2 kolom pada layar menengah */
  }
}

@media (max-width: 768px) {
  .news-card {
      flex: 1 1 100%; /* 1 kolom pada layar kecil */
  }
}

.bgm{
  background-image: url("https://picsum.photos/200/300");
  background-size: cover; /* Scale the background image to cover the entire page */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Make the background image fixed with regard to the viewport */
  margin: 0; /* Remove default margin */
  height: 100vh; /* Ensure the body takes full height of the viewport */
  mix-blend-mode: multiply;
}